# Topics
- print
- variable
- types

In [1]:
print("Hello World!")

Hello World!

In [2]:
print(25)

25

In [3]:
name = "Muhammad Taha"
fname = "Ayub Khan"
age = 21
print(name)
print(fname)
print(age)

Muhammad Taha
Ayub Khan
21

In [6]:
# %load students.py
s1="Ali"
s2="Hamza"
s3="Junaid"
print(s1)
print(s3)

Ali
Junaid

In [5]:
%run students.py

Ali

In [7]:
import students

Ali

In [8]:
print(s3)

Junaid

# Operators
- "+ Addition"
- "- Subtraction"
- "/ Division"
- "* Multiplycation"
- "% Modulus"
- "** Power"
## Compersion Operators

In [9]:
a=6 #int
b=1.6 # float
c=True #Boolean
d=False #Boolean
e="Ali" #String
names=["Ali","Junaid","Hamza","Konain"] # List (Change Able)
ages=[50,40,30,20] # List

passwords=(123,790,777,999) # Tuple (Not Change able)

student={
    'name':'Tahan',
    'fname':'Ayub',
    'age':21,
    'qualification':'intermediate'
} #Dictionary Key Value pair

In [10]:
a

6

In [11]:
b

1.6

In [12]:
c

True

In [13]:
d

False

In [14]:
e

'Ali'

In [15]:
names

['Ali', 'Junaid', 'Hamza', 'Konain']

- list index always start with 0

In [16]:
print(names[0])
print(names[3])
print(names[-1])

Ali
Konain
Konain

### slicing names[start:end:step] 
- start inclusive
- end exclusive
- sequance

In [17]:
names

['Ali', 'Junaid', 'Hamza', 'Konain']

In [18]:
names[0:2]

['Ali', 'Junaid']

In [19]:
names[:3]

['Ali', 'Junaid', 'Hamza']

In [20]:
names[2:]

['Hamza', 'Konain']

In [21]:
names[::2]

['Ali', 'Hamza']

In [23]:
names[0]="Zubair"
print(names)

['Zubair', 'Junaid', 'Hamza', 'Konain']

### Tuple

In [24]:
passwords

(123, 790, 777, 999)

In [25]:
passwords[0]

123

In [27]:
passwords[0]='7777' #Tuple Not Change able

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [28]:
student

{'age': 21, 'fname': 'Ayub', 'name': 'Tahan', 'qualification': 'intermediate'}

In [29]:
student['name']

'Tahan'

In [30]:
student['qualification']

'intermediate'

In [31]:
student.keys()

dict_keys(['name', 'fname', 'age', 'qualification'])

In [32]:
student.values()

dict_values(['Tahan', 'Ayub', 21, 'intermediate'])

In [33]:
5==7

False

In [34]:
5<7

True

In [35]:
5>7

False

In [36]:
5!=7 #Not equal

True

In [37]:
10>10

False

In [38]:
10>=10

True

In [39]:
9>=10

False

In [40]:
ages

[50, 40, 30, 20]

In [41]:
10 in ages

False

In [42]:
20 in ages

True