# List with pre define functions
- slicing
- append
- pop
- remove
- insert

## List Predefine function
- append (insert value in last)
- pop (remove value from last or define index postion)
- insert (index, value)
- copy (copy)
- count (value count items in list)
- remove (Remove base on text value)
- reverse (Revers not sort)
- extend (exted +, append)
- sort (assccending or desccending order)
- index (value return index positon)
- clear (Clear All List Elements)

## List

In [1]:
names = ['Zubair','Taha','Ali','hamza','junaid','Rashid','Konain']
names

['Zubair', 'Taha', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']

In [2]:
ages = [20,27,33,55,66,32,80]
ages

[20, 27, 33, 55, 66, 32, 80]

In [3]:
l=['Hamza',29,True,20.66,names]
l

['Hamza',
 29,
 True,
 20.66,
 ['Zubair', 'Taha', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']]

## Slicing

In [4]:
names

['Zubair', 'Taha', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']

# print one value base on index number. Index always start with 0 (zero)
#### Note: Slicing always move farward
- index no
- start (inclusive)
- end (exclusiv)
- step

In [6]:
print(names)
names[1] # square braket for call list index value, list, tuple, dictionary

['Zubair', 'Taha', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']

'Taha'

In [7]:
print(names[-2])

Rashid

In [8]:
print(names)
print(names[2:5])

['Zubair', 'Taha', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']
['Ali', 'hamza', 'junaid']

In [9]:
print(names[::2]) ## start to end base on step2

['Zubair', 'Ali', 'junaid', 'Konain']

In [10]:
print(names[::-1]) ## start to end base on step -1 reverse order

['Konain', 'Rashid', 'junaid', 'hamza', 'Ali', 'Taha', 'Zubair']

In [11]:
print(names[2:]) # index 2 to last

['Ali', 'hamza', 'junaid', 'Rashid', 'Konain']

In [12]:
print(names[:3]) # start to index 2

['Zubair', 'Taha', 'Ali']

In [13]:
students = names # Assign list Memory Refference
students

['Zubair', 'Taha', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']

In [14]:
students[1]="Muhammad Taha" #Update value with Slicing
students

['Zubair', 'Muhammad Taha', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']

In [15]:
names

['Zubair', 'Muhammad Taha', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']

In [16]:
id(names[1])

2807129538608

In [17]:
id(students[1])

2807129538608

In [18]:
dimt_students = names[:] # Copy create new memory Refference
dimt_students[1]="Muhammad Taha Khan"
dimt_students

['Zubair', 'Muhammad Taha Khan', 'Ali', 'hamza', 'junaid', 'Rashid', 'Konain']

In [19]:
names[1]

'Muhammad Taha'

In [20]:
id(names[1])

2807129538608

In [21]:
id(dimt_students[1])

2807130019784

In [23]:
print(dimt_students)
dimt_students[1:5]="Hamza"
dimt_students

['Zubair', 'H', 'a', 'm', 'z', 'a', 'Rashid', 'Konain']

['Zubair', 'H', 'a', 'm', 'z', 'a', 'a', 'Rashid', 'Konain']

In [24]:
names[1:4]="0"

In [25]:
names

['Zubair', '0', 'junaid', 'Rashid', 'Konain']

In [26]:
students

['Zubair', '0', 'junaid', 'Rashid', 'Konain']

In [27]:
names

['Zubair', '0', 'junaid', 'Rashid', 'Konain']

In [28]:
names[-3:] #Move Farward

['junaid', 'Rashid', 'Konain']

In [29]:
names[-3:-5]

[]

In [30]:
names[-3:-5:-1]

['junaid', '0']

In [31]:
names[-3::-1]

['junaid', '0', 'Zubair']

## List Pre Define Functions

In [34]:
names

['Zubair', '0', 'junaid', 'Rashid', 'Konain']

In [36]:
names += ['Qasim',"Asif",'Yasir','Qasim','Rashid']
names

['Zubair',
 '0',
 'junaid',
 'Rashid',
 'Konain',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid']

In [37]:
names.count('Qasim')

4

In [38]:
names.count('Rashid')

3

In [39]:
names.append('Ezat Ullah Khan') # Add value in last
names

['Zubair',
 '0',
 'junaid',
 'Rashid',
 'Konain',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Ezat Ullah Khan']

In [40]:
names.append('Hussnain')
names

['Zubair',
 '0',
 'junaid',
 'Rashid',
 'Konain',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Ezat Ullah Khan',
 'Hussnain']

In [43]:
names.insert(0,"Ali")
names.insert(3,'Abid Khan')
names

['Ali',
 'Ali',
 'Zubair',
 'Abid Khan',
 '0',
 'junaid',
 'Rashid',
 'Konain',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Ezat Ullah Khan',
 'Hussnain']

In [45]:
del names[0]
del names[0]
names

['Abid Khan',
 '0',
 'junaid',
 'Rashid',
 'Konain',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Ezat Ullah Khan',
 'Hussnain']

In [46]:
del_items=[]

In [47]:
d=names.pop() # Defualt Remove value from last index otherwise you can define index
del_items.append(d)

In [48]:
del_items

['Hussnain']

In [49]:
d=names.pop(2) # Defualt Remove value from last index otherwise you can define index
del_items.append(d)

In [50]:
del_items

['Hussnain', 'junaid']

In [51]:
names

['Abid Khan',
 '0',
 'Rashid',
 'Konain',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Ezat Ullah Khan']

In [52]:
names.remove('Rashid') # Delete Value by text contain from first accurance
names

['Abid Khan',
 '0',
 'Konain',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Qasim',
 'Asif',
 'Yasir',
 'Qasim',
 'Rashid',
 'Ezat Ullah Khan']

In [55]:
names.sort() # Sort in Memory
names

['0',
 'Abid Khan',
 'Asif',
 'Asif',
 'Ezat Ullah Khan',
 'Konain',
 'Qasim',
 'Qasim',
 'Qasim',
 'Qasim',
 'Rashid',
 'Rashid',
 'Yasir',
 'Yasir']

In [56]:
names.sort(reverse=True)

In [57]:
names

['Yasir',
 'Yasir',
 'Rashid',
 'Rashid',
 'Qasim',
 'Qasim',
 'Qasim',
 'Qasim',
 'Konain',
 'Ezat Ullah Khan',
 'Asif',
 'Asif',
 'Abid Khan',
 '0']

In [60]:
dimt_students.reverse()
dimt_students

['Zubair', 'H', 'a', 'm', 'z', 'a', 'a', 'Rashid', 'Konain']

In [ ]:
names.clear() # Remove all elements from list

In [61]:
abc=names.copy()
abc

['Yasir',
 'Yasir',
 'Rashid',
 'Rashid',
 'Qasim',
 'Qasim',
 'Qasim',
 'Qasim',
 'Konain',
 'Ezat Ullah Khan',
 'Asif',
 'Asif',
 'Abid Khan',
 '0']

In [62]:
xyz=['Safaraz','Mustufu','Abid']

names.extend(xyz)

In [63]:
names

['Yasir',
 'Yasir',
 'Rashid',
 'Rashid',
 'Qasim',
 'Qasim',
 'Qasim',
 'Qasim',
 'Konain',
 'Ezat Ullah Khan',
 'Asif',
 'Asif',
 'Abid Khan',
 '0',
 'Safaraz',
 'Mustufu',
 'Abid']

In [64]:
abc = ['ali','Hamza','junaid'] + xyz
abc

['ali', 'Hamza', 'junaid', 'Safaraz', 'Mustufu', 'Abid']

In [67]:
abc.index('Safaraz')

3