# Topic covers
- operator
- if
- else
- elif
- and, or,
- dictionary, keys: values, del ...

In [1]:
5 == 5

True

In [2]:
4==3

False

In [3]:
5>6

False

In [4]:
6<7

True

In [6]:
if True:
    print("pakistan")
else:
    print("India")

pakistan

In [7]:
day = 14
if day==14:
    print("pakistan")
else:
    print("India")

pakistan

# Chapter 9

In [9]:
species = "cat"

if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

In [10]:
if species == "cat":
 print("Yep, it's cat.")

Yep, it's cat.

In [13]:
if day == 16:
    print("Pakistan zinda bad")
    print("Jashne Azadi Mubarukh")
    print("We lover our country")
    
print("Pakistani....")

Pakistani....

In [14]:
if 2 + 2 == 4:
    print("Everything makes sense.")

Everything makes sense.

In [15]:
number_of_wifs = 1

if number_of_wifs == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

So far so good.
Congratulations.
All done

# Chapter 11 else and elif statements

In [16]:
if species == "cat":
 print("Yep, it's cat.")
if species != "cat":
 print("Nope, not cat.")

Yep, it's cat.

In [17]:
if species == 'cat':
    print('Yep, it\'cat.')
else:
    print("Nope, not cat.")

Yep, it'cat.

In [28]:
per = 70

In [24]:
if per >= 80:
    print("A+")
elif per >=70:
    print("A")
elif per >=60:
    print("B")
elif per >= 50:
    print("C")
else:
    print("Fail")

A+

In [25]:
if per > 0:
    print("Fail")
elif per >=50 and per<60:
    print("C")
elif per >=60 and per<70:
    print("A")

Fail

In [32]:
if 70 >= per < 80:
    print ("A")
else:
    print("not in the condition")

A

In [29]:
80 >= per >60

True

In [30]:
per >60

True

In [31]:
80 >= True

True

In [33]:
per = 2000
if per >= 80:
    print("A+")
elif per >=70:
    print("A")
elif per >=60:
    print("B")
elif per >= 50:
    print("C")
else:
    print("Fail")

A+

In [35]:
per = 5000
if per >= 80 and per <=100:
    print("A+")
elif per >=70 and per <80:
    print("A")
elif per >=60 and per <70:
    print("B")
elif per >= 50 and per < 60:
    print("C")
else:
    print("Fail")

Fail

In [37]:
user = '03152968211' # name, cell 03152968211 , email: m.qasim077@gmail.com
password = '123'

if (user=='qasim' or user=='03152968211' or user=='m.qasim077@gmail.com') and password=='123':
    print("VAlid user")
else:
    print("NOt valid")

VAlid user

# Chapter 25 Dictionaries: What they are

In [38]:
my_cats = ["Draco", "Bellatrix", "Voldemort"]

In [39]:
print(my_cats[0])

Draco

In [40]:
student_001 = {
    'name':'Osama',
    'fname':'Rizwan',
    'age':20,
    'education':['Matric','Master']
}

In [48]:
student_001.values()

dict_values(['Osama', 'Rizwan', 20, ['Matric', 'Master']])

In [49]:
student_001.keys()

dict_keys(['name', 'fname', 'age', 'education'])

In [50]:
student_001.items()

dict_items([('name', 'Osama'), ('fname', 'Rizwan'), ('age', 20), ('education', ['Matric', 'Master'])])

In [41]:
student_001

{'age': 20,
 'education': ['Matric', 'Master'],
 'fname': 'Rizwan',
 'name': 'Osama'}

In [42]:
student_001[0]

KeyError: 0

In [43]:
student_001['age']

20

In [44]:
student_001['name']

'Osama'

In [45]:
student_001['education']

['Matric', 'Master']

In [46]:
student_001['education'][1]

'Master'

In [52]:
student_002 = {
    'name':'Ali',
    'fname':'Hamza',
    'age':22,
    'education':['Matric','Master'],
    5: "pakistan",
    6: "China"
}
student_002[5]

'pakistan'

In [53]:
student_002["Salary"] = 50000

In [54]:
student_002

{5: 'pakistan',
 6: 'China',
 'Salary': 50000,
 'age': 22,
 'education': ['Matric', 'Master'],
 'fname': 'Hamza',
 'name': 'Ali'}

In [55]:
student_002["Salary"] = "500"

In [56]:
student_002

{5: 'pakistan',
 6: 'China',
 'Salary': '500',
 'age': 22,
 'education': ['Matric', 'Master'],
 'fname': 'Hamza',
 'name': 'Ali'}

In [57]:
del student_002[6]

In [58]:
student_002

{5: 'pakistan',
 'Salary': '500',
 'age': 22,
 'education': ['Matric', 'Master'],
 'fname': 'Hamza',
 'name': 'Ali'}

In [63]:
l = list(range(1,100))
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [64]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [67]:
a=[1,5,6] *2
a

[1, 5, 6, 1, 5, 6]

In [68]:
[x*2 for x in a]

[2, 10, 12, 2, 10, 12]

In [69]:
for x in student_001.keys():
    print(x)

name
fname
age
education

In [70]:
for x in student_001.values():
    print(x)

Osama
Rizwan
20
['Matric', 'Master']

In [74]:
for k , v in student_001.items():
    print(k,"======",v)

name ====== Osama
fname ====== Rizwan
age ====== 20
education ====== ['Matric', 'Master']

In [75]:
a

[1, 5, 6, 1, 5, 6]

In [76]:
6 in a

True

In [77]:
50 in a

False

In [78]:
a = input("Enter Value")

Enter Valuepakistan zinda bad