# Dictionary

In [2]:
std1={
    'name':'Taha',
    'age': 21,
    'fatherName':'Ayub',
    'qualification':"Intermediate"
}

In [3]:
std1

{'age': 21,
 'fatherName': 'Ayub',
 'name': 'Taha',
 'qualification': 'Intermediate'}

In [5]:
std1['name']

'Taha'

In [6]:
std1['age']

21

In [7]:
std1.keys()

dict_keys(['name', 'age', 'fatherName', 'qualification'])

In [8]:
std1.values()

dict_values(['Taha', 21, 'Ayub', 'Intermediate'])

In [10]:
std1.items()

dict_items([('name', 'Taha'), ('age', 21), ('fatherName', 'Ayub'), ('qualification', 'Intermediate')])

In [11]:
std2={
    'name':'Taha',
    'age': 21,
    'fatherName':'Ayub',
    'qualification':['intermediate','matric','Middle']
}

std2['qualification']

['intermediate', 'matric', 'Middle']

In [12]:
std2['qualification'].append('Graduation')
std2

{'age': 21,
 'fatherName': 'Ayub',
 'name': 'Taha',
 'qualification': ['intermediate', 'matric', 'Middle', 'Graduation']}

In [14]:
data = {
    0: [1,3,4],
    5: {'ali','hamza','junaid','ali'},
    7: (20,'ali',2.0, True)
}

data

{0: [1, 3, 4], 5: {'ali', 'hamza', 'junaid'}, 7: (20, 'ali', 2.0, True)}

In [15]:
data[0]

[1, 3, 4]

In [16]:
data[5]

{'ali', 'hamza', 'junaid'}

In [17]:
data.clear()

In [18]:
data

{}

In [20]:
std2.pop('qualification')
std2

{'age': 21, 'fatherName': 'Ayub', 'name': 'Taha'}

In [21]:
std2.popitem()

('fatherName', 'Ayub')

In [22]:
data = {
    0: [1,3,4],
    5: {'ali','hamza','junaid','ali'},
    7: (20,'ali',2.0, True)
}

data

{0: [1, 3, 4], 5: {'ali', 'hamza', 'junaid'}, 7: (20, 'ali', 2.0, True)}

In [23]:
data[20]

KeyError: 20

In [24]:
data.get(5)

{'ali', 'hamza', 'junaid'}

In [25]:
data.get(20)

In [26]:
data

{0: [1, 3, 4], 5: {'ali', 'hamza', 'junaid'}, 7: (20, 'ali', 2.0, True)}

In [28]:
data.get??

In [29]:
data.get('age')

In [30]:
data

{0: [1, 3, 4], 5: {'ali', 'hamza', 'junaid'}, 7: (20, 'ali', 2.0, True)}

In [31]:
for k in data.keys():
    print(k)

0
5
7

In [32]:
for v in data.values():
    print(v)

[1, 3, 4]
{'junaid', 'ali', 'hamza'}
(20, 'ali', 2.0, True)

In [33]:
for k, v in data.items():
    print(k,"====",v)

0 ==== [1, 3, 4]
5 ==== {'junaid', 'ali', 'hamza'}
7 ==== (20, 'ali', 2.0, True)

In [34]:
sorted(data)

[0, 5, 7]

In [35]:
sorted(data.items(), key=lambda x: x[1])

TypeError: '<' not supported between instances of 'set' and 'list'

In [37]:
data1={
    0: "Ali",
    1: "Junaid",
    2: "Kashif",
    3: "Bashir"
}

sorted(data1.items(), key=lambda x: x[1])

[(0, 'Ali'), (3, 'Bashir'), (1, 'Junaid'), (2, 'Kashif')]